#header h1
{
    text-align: middle;
}

.MyCanvas
{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: antiquewhite;
}

.layout
{
    display: flex;
    flex-direction: row;
}

.command
{
    padding: 40px;
    font-size: large;
}